# Analüütika andmebaas
POSTGRES_USER=praktikum
POSTGRES_PASSWORD=praktikum
POSTGRES_DB=praktikum
DB_PORT_HOST=55432

# Airflow
AIRFLOW_UID=50000
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_DB=airflow
AIRFLOW_PORT_HOST=8080

# Superset metaandmebaas
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=muuda_mind
SUPERSET_DB_NAME=superset_meta

# Superset rakendus
# SECRET_KEY: genereeri käsuga: python -c "import secrets; print(secrets.token_hex(32))"
SUPERSET_SECRET_KEY=genereeri_pikk_juhuslik_string_siin
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_PORT_HOST=8088
